<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCd692qUM7-gMOHsiuXKi3CBUPkVsxbuhg</string>
	<key>GCM_SENDER_ID</key>
	<string>270927735198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialNetwork</string>
	<key>PROJECT_ID</key>
	<string>social-network-f10ca</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-f10ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270927735198:ios:6af95d9960b666c6f4ce8f</string>
</dict>
</plist>